* {
  padding: 0;
  margin: 0; }

body {
  font-family: sans-serif; }

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 7; }
  #nav-bar .navbar {
    background-color: #2D2D2D; }
    #nav-bar .navbar .navbar-brand {
      font-size: 25px;
      font-weight: 800;
      padding-left: 150px;
      color: #b9b9b9 !important; }
      #nav-bar .navbar .navbar-brand div {
        background-color: #FF7878;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        border: none; }
    #nav-bar .navbar .navbar-toggler {
      outline: none !important; }
    #nav-bar .navbar .fa-bars {
      color: white; }

.navbar-nav {
  margin-right: 100px; }
  .navbar-nav .active {
    background-color: #FF7878; }
    .navbar-nav .active:hover {
      background-color: black; }
  .navbar-nav a {
    color: white !important; }
  .navbar-nav li {
    padding: 5px 10px;
    margin: 5px 0; }
    .navbar-nav li a {
      font-weight: 600;
      color: #b9b9b9 !important; }

.navbar-nav li:hover a {
  color: white !important;
  transition: .3s ease-in-out; }

/* -------banner ------*/
#banner {
  background-image: url("../img/sitting-room.jpg");
  background-size: cover;
  background-position: center;
  height: 70%;
  position: relative;
  z-index: 1; }

#banner::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 131, 240, 0.575);
  z-index: -1;
  opacity: .8; }

.banner-title {
  font-size: 80px;
  font-weight: 100;
  color: white; }
  .banner-title span {
    font-weight: 800; }

.banner-prg {
  font-size: 40px;
  font-weight: 700;
  color: white; }

.col-lg-8 {
  margin: 80px auto; }

/*------services-----*/
#services {
  padding: 80px 0; }
  #services .services h5 {
    margin: 15px; }
  #services .services p {
    opacity: 0.5;
    text-align: justify; }
  #services .fas {
    font-size: 25px;
    color: #FF7878; }

/*-------latest works-------*/
#latest-works {
  margin: 40px 0; }
  #latest-works img {
    width: 300px;
    height: 350px; }
    #latest-works img:hover {
      transform: rotate(-12deg);
      transition: .5s ease-in-out; }

/*--------About us ---------*/
#about-us {
  border-radius: 10px;
  width: 100%; }
  #about-us p {
    opacity: 0.5;
    margin-bottom: 50px; }

/*--------our clients---------*/
#Our-clients {
  background-color: #EBEBEB;
  padding: 50px 0; }
  #Our-clients .Our-clients img {
    margin: 20px; }

/*--------about design---------*/
#about-design {
  padding-top: 5px;
  background-color: #FF7878; }
  #about-design .about-design {
    color: white; }
    #about-design .about-design p {
      font-size: 15px;
      font-weight: 200; }

/*--------social-media---------*/
#social-media {
  padding: 30px 0;
  background-color: #2D2D2D; }
  #social-media .fab {
    font-size: 30px;
    color: white;
    margin: 0 20px; }
    #social-media .fab:hover {
      color: #FF7878; }

/*--------copyright---------*/
#copyright {
  background-color: #222222;
  color: white;
  padding: 30px 0; }
  #copyright a {
    color: #da761a; }
    #copyright a:hover {
      color: #555454;
      text-decoration: none;
      transition: .3s ease-in-out; }
  #copyright .copyright-template {
    color: #555454; }

/*# sourceMappingURL=main-style.css.map */
